@font-face {
    font-family: 'CustomFont';
    src: url('Killigs.ttf') format('truetype');
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'CustomFont', sans-serif; /* Apply the custom font */
}

.container {
    display: flex;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); /* Outer glow effect */
}

.text-container {
    max-width: 400px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6); /* Outer glow effect */
}

h1 {
    margin: 0;
    font-size: 2em;
}

p {
    margin-top: 10px;
    font-size: 1em;
}
