body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.text-container {
    max-width: 400px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

p {
    margin-top: 10px;
    font-size: 1em;
}
