/* Define the custom font for regular weight */
@font-face {
    font-family: 'CustomFont';
    src: url('Killigs.ttf') format('truetype');
    font-weight: normal;
}

/* Define the custom font for bold weight */
@font-face {
    font-family: 'CustomFont';
    src: url('Killig.ttf.ttf') format('truetype');
    font-weight: bold;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'CustomFont', Arial, sans-serif; /* Use the custom font */
}

.container {
    display: flex;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.text-container {
    max-width: 400px;
}

h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold; /* Make the name bold */
}

p {
    margin-top: 10px;
    font-size: 1em;
}
